@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1691670939746') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-non:before {
  content: "\e623";
}

.icon-rzsh-tg:before {
  content: "\e609";
}

